<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button icon="caret-back"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="saveChanges()">
				<ion-icon name="save"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Editar Asistencia</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-card *ngIf="asistenciaObject">
		<ion-card-header>
			<ion-card-title>Formulario</ion-card-title>
			<ion-card-subtitle
				>Este formulario es para editar o completar algunos datos de la
				asistencia.</ion-card-subtitle
			>
		</ion-card-header>
		<ion-card-content>
			<fieldset>
				<legend>Datos ciudadano</legend>
				<ion-item [counter]="true">
					<ion-label>Identificación</ion-label>
					<ion-input
						[(ngModel)]="asistenciaObject.identificacion"
						[maxlength]="15"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Nombre</ion-label>
					<ion-input
						[(ngModel)]="asistenciaObject.nombre"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Apellido</ion-label>
					<ion-input
						[(ngModel)]="asistenciaObject.apellido"
					></ion-input>
				</ion-item>
				<ion-item [counter]="true">
					<ion-label>Teléfono</ion-label>
					<ion-input
						[(ngModel)]="asistenciaObject.telefono"
						[maxlength]="15"
					></ion-input>
				</ion-item>
			</fieldset>

			<!-- Datos vehiculo -->

			<br />

			<fieldset>
				<legend>Datos Vehículo</legend>
				<ion-item>
					<ion-select
						[value]="asistenciaObject.vehiculoTipoId"
						[(ngModel)]="asistenciaObject.vehiculoTipoId"
						placeholder="Tipo de Vehiculo"
						#tipo
					>
						<ion-select-option
							[value]="item.id"
							*ngFor="let item of tipoVehiculosArray"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-select
						[value]="asistenciaObject.vehiculoColorId"
						[(ngModel)]="asistenciaObject.vehiculoColorId"
						placeholder="Seleccionar Color"
					>
						<ion-select-option
							[value]="item.id"
							*ngFor="let item of coloresVehiculosArray"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
				<ion-item (click)="_cache.getResource('VehiculoMarca')">
					<ion-select
						[value]="asistenciaObject.vehiculoMarcaId"
						[(ngModel)]="asistenciaObject.vehiculoMarcaId"
						placeholder="Seleccionar Marca"
						#marca
					>
						<ion-select-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoMarca$ | async"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
				<ion-item
					(click)="
						_cache.getDataOnIdFilters(
							'VehiculoModelo',
							tipo.value,
							marca.value
						)
					"
				>
					<ion-select
						[value]="asistenciaObject.vehiculoModeloId"
						[(ngModel)]="asistenciaObject.vehiculoModeloId"
						placeholder="Seleccionar Modelo"
					>
						<ion-select-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoModelo$ | async"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<br />

			<fieldset>
				<legend>Datos Ubicación</legend>
				<ion-item>
					<ion-select
						[value]="asistenciaObject.provinciaId"
						[(ngModel)]="asistenciaObject.provinciaId"
						placeholder="Seleccionar Provincia"
						#provinciaId
					>
						<ion-select-option
							[value]="item.id"
							*ngFor="let item of provinciasArray"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
				<ion-item
					(click)="
						_cache.getResourceById('municipios', provinciaId.value)
					"
				>
					<ion-select
						[value]="asistenciaObject.municipioId"
						[(ngModel)]="asistenciaObject.municipioId"
						placeholder="Seleccionar Municipio"
					>
						<ion-select-option
							[value]="item.id"
							*ngFor="let item of _cache.municipios$ | async"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label>Dirección (opcional)</ion-label>
					<ion-input
						[(ngModel)]="asistenciaObject.direccion"
					></ion-input>
				</ion-item>
			</fieldset>

			<ion-item>
				<ion-label>Comentario</ion-label>
				<ion-textarea
					[(ngModel)]="asistenciaObject.comentario"
				></ion-textarea>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
