<ion-card class="card-info">
	<ion-card-header class="card-header">
		<ion-row class="info-row">
			<ion-col size="3" class="icon-col">
				<ion-icon class="icon" name="car-outline"></ion-icon>
			</ion-col>
			<ion-col class="info-col" size="9">
				<ion-text>Den.: {{ memberInfo?.denominacion }}</ion-text>
				<ion-text>Ficha: {{ memberInfo?.ficha }}</ion-text>
				<ion-text>{{ memberInfo?.miembro }}</ion-text>
			</ion-col>
		</ion-row>
		<ion-button
			expand="block"
			style="width: 100%"
			color="medium"
			*ngIf="memberInfo?.esEncargado"
			[routerLink]="['metrics', memberInfo?.ficha]"
		>
			<ion-icon slot="start" name="stats-chart"></ion-icon>
			Estadisticas
		</ion-button>
	</ion-card-header>
	<ion-card-content class="content">
		<app-counter></app-counter>
	</ion-card-content>
</ion-card>
