<div
	class="row"
	*ngIf="_asistencia.contadorAsistencias$ | async as counter; else noCount"
>
	<div class="col">
		<span>Asistencia</span><span>{{ counter.totalAsistencias }}</span>
	</div>
	<div class="col">
		<span>Emergencia</span><span>{{ counter.totalAccidentes }}</span>
	</div>
</div>

<ng-template #noCount>
	<div class="row">
		<div class="col">
			<span>Asistencia</span><span>{{ 0 }}</span>
		</div>
		<div class="col">
			<span>Emergencia</span><span>{{ 0 }}</span>
		</div>
	</div>
</ng-template>
