<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Inicio</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="logout()">
				<ion-icon name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-member-unit-card [memberInfo]="infoUser"></app-member-unit-card>
	<div class="list" *ngIf="_asistencias.asistencias$ | async as asistencias">
		<ion-list *ngIf="asistencias.length > 0; else emptyList">
			<ion-list-header>
				<ion-label class="list-title">Asistencias de hoy</ion-label>
			</ion-list-header>
			<!-- asistencias -->
			<ion-item *ngFor="let item of asistencias">
				<app-asistencia-card
					[ficha]="infoUser?.ficha"
					[item]="item"
					style="width: 100%"
				></app-asistencia-card>
			</ion-item>
		</ion-list>
		<!-- empty list -->
		<ng-template #emptyList>
			<ion-list>
				<ion-list-header>
					<ion-label class="list-title">No hay registros</ion-label>
				</ion-list-header>
			</ion-list>
		</ng-template>
	</div>

	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button [routerLink]="['create']">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
