<ion-card style="width: 100%">
	<ion-card-header>
		<ion-row>
			<!-- category icon-->
			<ion-col size="2">
				<ion-icon class="category-icon" name="car-sport"></ion-icon>
			</ion-col>
			<!-- card information -->
			<ion-col size="8">
				<ion-card-title style="text-align: center">{{
					item.estatusAsistencia | uppercase
				}}</ion-card-title>
			</ion-col>
			<!-- card estatus -->
			<ion-col size="2">
				<ion-icon
					class="green status-icon"
					*ngIf="item.estatus"
					name="checkmark-done-circle"
				></ion-icon>
				<ion-icon
					class="red status-icon"
					*ngIf="!item.estatus"
					name="alert-circle"
				></ion-icon>
			</ion-col>
		</ion-row>
	</ion-card-header>
	<ion-card-content>
		<ion-accordion-group>
			<ion-accordion value="first">
				<ion-item slot="header">
					<ion-label>Datos ciudadano</ion-label>
				</ion-item>
				<div class="ion-padding" slot="content">
					<ion-text
						><strong>Identificación: </strong
						>{{ item.identificacion }}</ion-text
					>
					<br />
					<ion-text
						><strong>Nombre: </strong
						>{{ item.nombreCiudadano }}</ion-text
					>
					<br />
					<ion-text
						><strong>Sexo: </strong>{{ item.genero }}</ion-text
					>
					<br />
					<ion-text
						><strong>Extranjero: </strong
						>{{ item.esExtranjero ? 'Si' : 'No' }}</ion-text
					>
					<br />
					<ion-text
						><strong>Teléfono: </strong
						>{{ item.telefono }}</ion-text
					>
				</div>
			</ion-accordion>
			<ion-accordion value="second">
				<ion-item slot="header">
					<ion-label>Datos Vehiculo</ion-label></ion-item
				>
				<div class="ion-padding" slot="content">
					<ion-text
						><strong>Tipo: </strong
						>{{ item.vehiculoTipo }}</ion-text
					>
					<br />
					<ion-text
						><strong>Color: </strong
						>{{ item.vehiculoColor }}</ion-text
					>
					<br />
					<ion-text
						><strong>Marca: </strong
						>{{ item.vehiculoMarca }}</ion-text
					>
					<br />
					<ion-text
						><strong>Modelo: </strong
						>{{ item.vehiculoModelo }}</ion-text
					>
					<br />
					<ion-text
						><strong>Placa: </strong>{{ item.placa }}</ion-text
					>
				</div>
			</ion-accordion>
			<!-- datos asistencia -->
			<ion-accordion value="third">
				<ion-item slot="header">
					<ion-label>Datos asistencia</ion-label>
				</ion-item>
				<div class="ion-padding" slot="content">
					<ion-list>
						<ion-list-header
							><strong>Tipos asistencia</strong></ion-list-header
						>
						<ion-item *ngFor="let item of item.tipoAsistencias">
							<ion-text
								><ion-icon name="checkbox-outline"></ion-icon>
								{{ item.nombre }}
							</ion-text>
						</ion-item>
					</ion-list>
					<br />
					<ion-text
						><strong>Creación: </strong
						>{{ item.fechaCreacion | date : 'short' }}</ion-text
					>
					<br />
					<ion-text
						><strong>Comentario: </strong
						>{{ item.comentario }}</ion-text
					>
				</div>
			</ion-accordion>
		</ion-accordion-group>
		<ion-item *ngIf="item.estatusAsistencia != 'COMPLETADA'">
			<ion-button
				style="width: 100%"
				color="medium"
				expand="block"
				[routerLink]="['edit', item.id]"
				><ion-icon name="create-outline"></ion-icon> Editar</ion-button
			>
		</ion-item>

		<ion-item *ngIf="item.estatusAsistencia == 'PENDIENTE'">
			<ion-button
				style="width: 100%"
				color="primary"
				expand="block"
				(click)="iniciar(item.id)"
			>
				<ion-icon name="timer-outline" slot="start"></ion-icon>
				Iniciar</ion-button
			>
		</ion-item>
	</ion-card-content>
</ion-card>
