.category-icon {
	font-size: 2rem;
	border: 1px solid gainsboro;
	border-radius: 0.1em;
	padding: 0.1em;
}

.status-icon {
	font-size: 2rem;
	ion-icon {
		border: 2px solid rgb(131, 130, 130);
	}
}

.pendiente {
	color: rgb(218, 218, 10);
}

.enCurso {
	color: rgb(226, 50, 50);
}

.completada {
	color: rgb(37, 179, 37);
}
