#content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	.big-logo {
		min-width: 40%;
		max-width: 50%;
		height: auto;
	}

	.small-logo {
		min-width: 15%;
		max-width: 30%;
		height: auto;
	}
	.formulary {
		width: 90%;
		height: auto;
		padding: 1em auto;
		margin-bottom: 4em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.card-header {
			text-align: center;
			.header-text {
				color: rgb(87, 86, 86);
				font-weight: 550;
			}
		}
		.btn {
			margin: 1em 0.5em;
			width: 90%;
		}
	}
}
