#content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	.big-logo {
		min-width: 40%;
		max-width: 50%;
		height: auto;
	}

	.small-logo {
		min-width: 20%;
		max-width: 30%;
		height: auto;
	}
	.formulary {
		width: 100%;
		height: auto;
		padding: 1em auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
		margin-bottom: -0.1em !important;
		.card-header {
			text-align: center;
			.header-text {
				color: rgb(87, 86, 86);
				font-weight: 550;
			}
		}
		.btn {
			margin: 1em 0.5em;
			width: 80%;
		}
	}
}
