<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button icon="caret-back"></ion-back-button>
		</ion-buttons>
		<ion-title>Pre-Hospitalaria</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Formulario Asistencia</ion-card-title>
			<ion-card-subtitle
				>Este formulario es uso exclusivo para el personal de
				Pre-Hospitalaria.</ion-card-subtitle
			>
		</ion-card-header>
		<ion-card-content>
			<!-- Despacho -->
			<fieldset>
				<legend>Tipo Despacho</legend>
				<ion-item>
					<ion-label position="floating">Despacho</ion-label>
					<ion-select
						[(ngModel)]="asistencia.despachadaPor"
						[required]="true"
					>
						<ion-select-option [value]="1">911</ion-select-option>
						<ion-select-option [value]="2">MOPC</ion-select-option>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset>
				<legend>Apoyo Brindado</legend>
				<ion-item>
					<ion-label position="floating">Apoyo</ion-label>
					<ion-select [(ngModel)]="asistencia.apoyoBrindado">
						<ion-select-option [value]="0"
							>Ninguna</ion-select-option
						>
						<ion-select-option [value]="1"
							>Unidad Ambulancia MOPC</ion-select-option
						>
						<ion-select-option [value]="2"
							>Unidad Rescate MOPC</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset>
				<legend>Zona</legend>
				<ion-item>
					<ion-label position="floating">Zona o Region</ion-label>
					<ion-select [(ngModel)]="asistencia.zona" [required]="true">
						<ion-select-option [value]="1">Norte</ion-select-option>
						<ion-select-option [value]="2">Este</ion-select-option>
						<ion-select-option [value]="3">Sur</ion-select-option>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset>
				<legend>Informaciónes Asistencia</legend>
				<ion-item
					(click)="
						_cache.getResourceById(
							'filter_provicias',
							asistencia.zona
						)
					"
				>
					<ion-label position="floating">Provincia</ion-label>
					<ion-select
						placeholder="Provinvia"
						[(ngModel)]="asistencia.provinciaId"
						[required]="true"
					>
						<ion-select-option
							*ngFor="let item of _cache.provincias$ | async"
							[value]="item.id"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>

				<ion-item
					(click)="
						_cache.getResourceById(
							'municipios',
							asistencia.provinciaId
						)
					"
				>
					<ion-label position="floating">Municipio</ion-label>
					<ion-select
						placeholder="Municipio"
						[(ngModel)]="asistencia.municipioId"
						[required]="true"
					>
						<ion-select-option
							*ngFor="let item of _cache.municipios$ | async"
							[value]="item.id"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label position="floating"
						>Detalle asistencia</ion-label
					>
					<ion-textarea
						[(ngModel)]="asistencia.detalleAsistencia"
					></ion-textarea>
				</ion-item>

				<ion-item>
					<ion-label position="floating">Tipo Asistencia</ion-label>
					<ion-select
						[(ngModel)]="asistencia.tipoAsistencia"
						[required]="true"
					>
						<ion-select-option [value]="1"
							>Asistencia Medica</ion-select-option
						>
						<ion-select-option [value]="2"
							>Movimiento</ion-select-option
						>
						<ion-select-option [value]="3"
							>Evento Especial</ion-select-option
						>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label position="floating"
						>Nombre Evento Especial</ion-label
					>
					<ion-input
						[(ngModel)]="asistencia.nombreEventoEspecial"
						[disabled]="asistencia.tipoAsistencia != 3"
					></ion-input>
				</ion-item>
			</fieldset>

			<fieldset>
				<legend>Datos del paciente</legend>
				<ion-item>
					<ion-label>El paciente es desconocido ?</ion-label>
					<ion-checkbox
						slot="end"
						[value]="asistencia.personaDesconocidad"
						[(ngModel)]="asistencia.personaDesconocidad"
					></ion-checkbox>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Cedula/Pasaporte</ion-label>
					<ion-input
						[(ngModel)]="asistencia.identificacion"
						[disabled]="asistencia.personaDesconocidad"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Nombre</ion-label>
					<ion-input
						[(ngModel)]="asistencia.nombre"
						[disabled]="asistencia.personaDesconocidad"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Apellido</ion-label>
					<ion-input
						[(ngModel)]="asistencia.apellido"
						[disabled]="asistencia.personaDesconocidad"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Edad</ion-label>
					<ion-input
						[(ngModel)]="asistencia.edad"
						[disabled]="asistencia.personaDesconocidad"
						type="number"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Telefono</ion-label>
					<ion-input
						[(ngModel)]="asistencia.telefono"
						[disabled]="asistencia.personaDesconocidad"
						type="tel"
					></ion-input>
				</ion-item>

				<ion-radio-group
					[(ngModel)]="asistencia.sexo"
					[disabled]="asistencia.personaDesconocidad"
					style="
						display: flex;
						flex-direction: row;
						justify-content: space-between;
					"
					title="Sexo"
				>
					<ion-item>
						<ion-label>Hombre</ion-label>
						<ion-radio slot="end" [value]="1"></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label>Mujer</ion-label>
						<ion-radio slot="end" [value]="2"></ion-radio>
					</ion-item>
				</ion-radio-group>

				<ion-item>
					<ion-label position="floating">Nacionalidad</ion-label>
					<ion-select
						interface="action-sheet"
						[(ngModel)]="asistencia.nacionalidadId"
					>
						<ion-select-option
							*ngFor="let item of _cache.nacionalidades$ | async"
							[value]="item.id"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Tipo Causa</legend>
				<ion-radio-group
					[(ngModel)]="asistencia.tipoCausa"
					[disabled]="asistencia.tipoAsistencia == 2"
				>
					<ion-item>
						<ion-label>Traumatica</ion-label>
						<ion-radio slot="end" [value]="1"></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label>Clinica</ion-label>
						<ion-radio slot="end" [value]="2"></ion-radio>
					</ion-item>
				</ion-radio-group>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Información de Traslado</legend>
				<ion-item>
					<ion-label>Es Traslado ?</ion-label>
					<ion-checkbox
						slot="end"
						[checked]="asistencia.esTraslado"
						[(ngModel)]="asistencia.esTraslado"
					></ion-checkbox>
				</ion-item>

				<ion-item>
					<ion-select
						interface="action-sheet"
						[(ngModel)]="asistencia.causaTraslado"
						placeholder="Causa de Traslado"
						[disabled]="!asistencia.esTraslado"
					>
						<ion-select-option [value]="0"
							>NO AMERITA TRASLADO</ion-select-option
						>
						<ion-select-option [value]="1"
							>VICTIMA EN 1-29</ion-select-option
						>
						<ion-select-option [value]="2"
							>RECHAZO DE ASISTENCIA</ion-select-option
						>
						<ion-select-option [value]="3"
							>RECHAZO DE TRASLADO</ion-select-option
						>
						<ion-select-option [value]="4"
							>APOYO A OTRA UNIDAD ALFA MOPC</ion-select-option
						>
						<ion-select-option [value]="5"
							>APOYO AL 911</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset
				*ngIf="asistencia.tipoAsistencia !== 2 && asistencia.esTraslado"
			>
				<legend>Información Hospital</legend>
				<ion-item
					(click)="
						_cache.getResourceById('hospitales', asistencia.zona)
					"
				>
					<ion-label position="floating">Hospital</ion-label>
					<ion-select
						interface="action-sheet"
						[(ngModel)]="asistencia.hospitalId"
					>
						<ion-select-option
							*ngFor="let item of _cache.hospitales$ | async"
							[value]="item.id"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Datos quien recibee en el centro</legend>
				<ion-item>
					<ion-label position="floating">Nombre y apellido</ion-label>
					<ion-input
						[(ngModel)]="asistencia.personaRecibioEnHospital"
					></ion-input>
					<ion-note>Persona recibio en el hospital</ion-note>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Antecedentes</legend>
				<ion-radio-group [(ngModel)]="asistencia.AntecedentesMorbidos">
					<ion-item>
						<ion-label slot="end">Desconocido</ion-label>
						<ion-radio [value]="'Desconocido'"></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label slot="end">Otro</ion-label>
						<ion-radio [value]="''"></ion-radio>
					</ion-item>
				</ion-radio-group>
				<ion-item>
					<ion-label>Detalles Antecedentes Morbidos</ion-label>
					<ion-input
						[(ngModel)]="asistencia.AntecedentesMorbidos"
						[disabled]="
							asistencia.AntecedentesMorbidos == 'Desconocido'
						"
					></ion-input>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Signos Vitales</legend>
				<ion-item>
					<ion-label position="floating"
						>Frecuencia Cardiaca</ion-label
					>
					<ion-input
						inputmode="number"
						[(ngModel)]="asistencia.frecuenciaCardiaca"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating"
						>Frecuencia Respiratoria</ion-label
					>
					<ion-input
						inputmode="number"
						[(ngModel)]="asistencia.frecuenciaRespiratoria"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating"
						>TENSIÓN ARTERIAL SISTOLICA</ion-label
					>
					<ion-input
						inputmode="number"
						[(ngModel)]="asistencia.tensionArterialSistolica"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating"
						>TENSIÓN ARTERIAL DIASTOLICA</ion-label
					>
					<ion-input
						inputmode="number"
						[(ngModel)]="asistencia.tensionArterialDiastolica"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating"
						>SATURACIÓN PARCIAL DE OXIGENO (SPO2)</ion-label
					>
					<ion-input
						inputmode="number"
						[(ngModel)]="asistencia.saturacionParcialOxigeno"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">TEMPERATURA</ion-label>
					<ion-input
						inputmode="number"
						[(ngModel)]="asistencia.temperatura"
					></ion-input>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Llenado Capilar</legend>
				<ion-item>
					<ion-select
						[(ngModel)]="asistencia.LlenadoCapilar"
						placeholder="Llenado capilar"
					>
						<ion-select-option [value]="1"
							>NORMAL - MENOR A 2 SEG.</ion-select-option
						>
						<ion-select-option [value]="2"
							>RETRASADO - MAYOR A 2 SEG.</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>ECG - APERTURA OCULAR</legend>
				<ion-radio-group
					[(ngModel)]="asistencia.aperturaOcular"
					style="display: flex; flex-direction: row"
				>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>1</ion-label>

						<ion-radio [value]="1"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>2</ion-label>

						<ion-radio [value]="2"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>3</ion-label>

						<ion-radio [value]="3"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>4</ion-label>

						<ion-radio [value]="4"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>5</ion-label>

						<ion-radio [value]="5"></ion-radio>
					</ion-item>
				</ion-radio-group>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>ECG - RESPUESTA VERBAL</legend>
				<ion-radio-group
					[(ngModel)]="asistencia.respuestaVerbal"
					style="display: flex; flex-direction: row"
				>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>1</ion-label>

						<ion-radio [value]="1"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>2</ion-label>

						<ion-radio [value]="2"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>3</ion-label>

						<ion-radio [value]="3"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>4</ion-label>

						<ion-radio [value]="4"></ion-radio>
					</ion-item>
				</ion-radio-group>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>ECG - RESPUESTA MOTORA</legend>
				<ion-radio-group
					[(ngModel)]="asistencia.respuestaMotora"
					style="display: flex; flex-direction: row"
				>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>1</ion-label>

						<ion-radio [value]="1"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>2</ion-label>

						<ion-radio [value]="2"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>3</ion-label>

						<ion-radio [value]="3"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>4</ion-label>

						<ion-radio [value]="4"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>5</ion-label>

						<ion-radio [value]="5"></ion-radio>
					</ion-item>
					<ion-item style="display: flex; flex-direction: column">
						<ion-label>6</ion-label>

						<ion-radio [value]="6"></ion-radio>
					</ion-item>
				</ion-radio-group>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Examen Fisico</legend>
				<ion-item>
					<ion-label>Hallazgos Positivos</ion-label>
					<ion-textarea
						[(ngModel)]="asistencia.hallazgoPositivo"
					></ion-textarea>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Diagnosticos Presuntivos</legend>
				<ion-item>
					<ion-label>Diagnosticos Presuntivos</ion-label>
					<ion-textarea
						[(ngModel)]="asistencia.diagnosticoPresuntivo"
					></ion-textarea>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Procedimientos Realizados</legend>
				<ion-item>
					<ion-label>Procedimientos Realizados</ion-label>
					<ion-textarea
						[(ngModel)]="asistencia.procedimientosRealizados"
					></ion-textarea>
				</ion-item>
			</fieldset>

			<fieldset *ngIf="asistencia.tipoAsistencia !== 2">
				<legend>Insumos Utilizados</legend>
				<ion-item>
					<ion-label>Insumos Utilizados</ion-label>
					<ion-textarea
						[(ngModel)]="asistencia.insumosUtilizados"
					></ion-textarea>
				</ion-item>
			</fieldset>

			<fieldset>
				<legend>Regulador de turno</legend>
				<ion-item (click)="_cache.GetMiembrosPreHospitalaria()">
					<ion-label>Regulador</ion-label>
					<ion-select [(ngModel)]="asistencia.reguladorEmergenciaId">
						<ion-select-option
							[value]="item.id"
							*ngFor="
								let item of _cache.miembrosPreHospitalaria$
									| async
							"
							>{{ item.nombre }}</ion-select-option
						>
					</ion-select>
				</ion-item>
			</fieldset>

			<ion-button
				expand="block"
				(click)="createAsistencia()"
				color="success"
				>Crear Asistencia</ion-button
			>
		</ion-card-content>
	</ion-card>
</ion-content>
