.container {
	height: 100%;
	width: 100%;
}

ion-item {
	border-bottom-color: gray;
	width: 100%;
	margin: 0.5em auto;
	ion-col {
		ion-label {
			margin-right: 0.2em;
		}
	}
}

fieldset {
	width: 100%;
}
